<div id="search-area">
    <div id="search-bar-area" style="top:50px;">
        <div id="search-title">Search</div>
        <div id="options">
            <div id="movies-search-option">
                Movies
                <div class="background"></div>
            </div>
            <div id="tv-search-option">
                TV
                <div class="background"></div>
            </div>
            <div id="actors-search-option">
                Actors
                <div class="background"></div>
            </div>
        </div>
    </div>
</div>


<script src="/assets/javascript/search-options.js"></script>