.carousel, .library {
    padding: 15px 0;
    overflow: visible;
    position: relative;
}

.carousel .carousel-title, .library-title {
    padding: 10px;
}

.carousel .carousel-items::-webkit-scrollbar {
    display: none;
}

.carousel .carousel-items {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding: 15px 0px;
}

.carousel-controls {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 24px;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control {
    --size: 32px;
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    width: var(--size);
    height: var(--size);
    aspect-ratio: 1/1;
    border-radius: 180%;
    font-size: 14px;
    text-align: start;
    padding: 15px;
    background-color: #1c1c1c;
    justify-content: center;
    color: #ccc;
    margin: 0px 15px;
    transition: background-color 200ms;
}

#featured-banner * {
    transition: 500ms;
}

.carousel-control:hover {
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.carousel-right {
    right: 5px;
}

.carousel-left {
    left: 5px;
}

.banner {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 16/9;
    margin: 0px 15px;
    transition: transform 500ms;
}

.banner.circular {
    border-radius: 180%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 180%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
}

#banner-poster {
    position: relative;
}

.banner[data-watched="false"][data-watched_percentage="0"]:after, .library-item[data-watched="false"][data-watched_percentage="0"]:after, #banner-poster[data-watched="false"][data-watched_percentage="0"]:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent var(--primary) transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
}

.watched_percentage {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px;
    border-radius: 180px;
    bottom: 15px;
    left: 15px;
    border-color: var(--primary);
}

.banner.xl {
    height: 75vh;
    display: flex;
    align-items: start;
    padding: 0 20px;
    aspect-ratio: unset;
    margin: 0;
}

.banner-background-gradient {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: -10px;
    left: 0;
    z-index: -1;
    background: linear-gradient(transparent, black);
}

.banner-actions {
    display: flex;
    flex-direction: row;
}

.banner-actions button {
    margin-right: 5px;
    padding: 8px 15px;
    font-size: 14px;
}

.banner-actions button:hover {
    filter: brightness(.9)
}

.banner.xl:hover {
    cursor: default;
    transform: unset;
}

.banner.xl>* {
    padding-bottom: 10px;
}

.banner.xl .banner-title {
    font-size: 72px;
}

.banner.xl .banner-description {
    max-width: 33%;
}

.banner.lg {
    min-width: 33vw;
}

.banner.lg .banner-title, .library-item-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
}

.banner.xl .banner-background {
    border-radius: 0;
}

.banner video {
    z-index: 1;
    opacity: 0;
}

.banner .banner-background {
    transition: opacity 1s;
    background-color: hsl(0, 0%, 18%);
    z-index: -1;
}

.banner .banner-background, .banner video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner:hover, .library-item:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.banner:hover .banner-background, .banner.xl .banner-background, .library-item:hover .library-item-background {
    filter: brightness(.5);
}

.banner .banner-title, .library-item-title {
    opacity: 0;
    z-index: 3;
    transition: opacity 500ms;
}

.banner:hover .banner-title, .banner.xl .banner-title, .library-item:hover .library-item-title {
    opacity: 1;
}

.library-items {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}

.library-item {
    position: relative;
    display: flex;
    margin: 30px;
    height: 350px;
    transition: transform 500ms;
}

.banner[data-downloading="true"], .library-item[data-downloading="true"] {
    filter: contrast(0);
}