::-webkit-scrollbar {
    position: absolute;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    background: var(--primary);
    border-radius: 180px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}