body {
    /* overflow: hidden; */
}

nav {
    position: relative;
}

main {
    display: flex;
    height: calc(100vh - 55px);
    min-width: 100vw;
}

    main::after {
        content: '';
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        min-width: 100vw;
        background: linear-gradient(120deg, #111111, #141414);
    }

.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    width: 200px;
    min-width: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    padding-top: 125px;
    padding-bottom: 25px;
}

    .sidebar #sidebar-title {
        font-size: 24px;
    }

    .sidebar #sidebar-title, .sidebar .sidebar-subtitle {
        font-weight: 300;
        opacity: .7;
        padding-left: 5px;
    }

    .sidebar .sidebar-items {
        height: 100%;
        min-height: 500px;
    }

        .sidebar .sidebar-items .sidebar-item {
            padding: 10px 25px;
            cursor: pointer;
            margin: 5px 0;
        }

            .sidebar .sidebar-items .sidebar-item.active, .sidebar .sidebar-items .sidebar-item:hover {
                background-color: var(--primary);
            }

#view {
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.section {
    height: 50vh;
    overflow: scroll;
}

.section-title {
    font-weight: 200;
    font-size: 24px;
    text-align: center;
}

.list {
    display: flex;
}

    .list .horizontal {
        flex-direction: row;
    }

/* Now Playing Dashboard */

#now-playing-list {
    height: 300px;
}

.nowplaying-card {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 280px;
    max-width: 280px;
    max-height: 274px;
    height: 274px;
    transition: box-shadow 500ms, transform 500ms;
    box-shadow: 0px 0px 10px 0px black;
}

    .nowplaying-card:hover {
        box-shadow: 0px 0px 20px 0px black;
        transform: scale(1.01);
    }

    .nowplaying-card .description {
        display: flex;
        flex-direction: row;
        font-size: 14px;
        justify-content: start;
        align-items: center;
        background-color: rgba(128, 128, 128, .1);
        height: 100px;
    }

        .nowplaying-card .description .extra {
            padding: 5px;
            width: 100%;
        }

    .nowplaying-card .advanced-information {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        padding: 10px;
        height: 100px;
    }

        .nowplaying-card .advanced-information .client-icon {
            width: 44px;
            height: 44px;
            background-position: center;
            background-size: cover;
            margin-right: 10px;
            font-size: 44px;
        }

    .nowplaying-card .description img {
        height: 100%;
    }

    .nowplaying-card .user {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
    }

        .nowplaying-card .user img {
            border-radius: 180%;
            height: 90%;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .nowplaying-card .user .action {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--primary);
            transform: translateY(110%);
            transition: transform 500ms;
        }

        .nowplaying-card .user:hover .action {
            cursor: pointer;
            transform: translateY(0%);
        }

input[type="number"], input[type="number"]:focus {
    text-align: center;
    font-size: 45px;
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.card-title {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px 0;
}

.card-description {
    color: hsl(0, 0%, 60%);
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
}

.card-icon {
    font-size: 48px;
    background: linear-gradient(120deg, var(--primary), hsl(var(--primary-hue), var(--primary-saturation), 60%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card:not(.toggle):not(.noflip) .card-front:not(.active):hover .card-icon {
    background: transparent;
    -webkit-background-clip: initial;
    background-clip: initial;
    -webkit-text-fill-color: white;
}

.card:not(.toggle):not(.noflip) .card-front:not(.active):hover .card-description {
    color: white;
}

.card:not(.toggle):not(.noflip) .card-front:not(.active):hover {
    cursor: pointer;
    transform: translateY(-50px);
    background: linear-gradient(120deg, var(--primary), hsl(var(--primary-hue), var(--primary-saturation), 60%));
}

.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    transform: rotateY(180deg);
}

.cta-icon {
    margin-top: 25px;
    font-size: 32px;
}

.card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 0px 25px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card.active .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 1/1;
    background: linear-gradient(120deg, hsl(0, 0%, 7%), hsl(0, 0%, 10%));
    perspective: 1000px;
    transition: transform 500ms;
}

.card-back {
    background: linear-gradient(120deg, hsl(0, 0%, 7%), hsl(0, 0%, 10%));
    color: white;
    transform: rotateY(180deg);
}

.fs {
    overflow: scroll;
    height: 90%;
}

    .fs .directory {
        text-align: start;
        background-color: hsla(0, 0%, 3%, .5);
        margin: 5px;
        padding: 5px;
        transition: background 200ms;
    }

        .fs .directory:hover {
            cursor: pointer;
            background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
        }

.card.toggle .card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card.toggle i {
    font-size: 48px;
}

.card.toggle p.title, .card.noflip p.title {
    font-size: 28px;
}

.card.toggle .card-back:hover .card-icon {
    background: transparent;
    -webkit-background-clip: initial;
    background-clip: initial;
    -webkit-text-fill-color: white;
}

.card.toggle .card-back:hover .card-description {
    color: white;
}

.card.toggle .card-back:hover {
    cursor: pointer;
    background: linear-gradient(120deg, var(--primary), hsl(var(--primary-hue), var(--primary-saturation), 60%));
    cursor: pointer;
}

.card.toggle .card-front:hover, .card.noflip .card-front:hover {
    cursor: pointer;
    background: linear-gradient(120deg, var(--primary), hsl(var(--primary-hue), var(--primary-saturation), 60%));
}

.currentDirectory {
    padding: 5px;
    height: 24px;
    margin: 5px 0px 5px 5px;
    background-color: hsla(0, 0%, 3%, .7);
    color: white;
    border: none;
    width: 100%;
    direction: rtl;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.primary.fs-apply {
    --width: 100px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - (var(--width) / 2));
    width: var(--width);
    box-shadow: 0px 0px 20px 9px black;
}

button.primary.fs-cd-apply {
    height: 34px;
    max-width: 34px;
    min-width: 34px;
}

.fs-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#directories .page-content {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.cta-text {
    background-color: rgba(0,0,0,.5);
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    margin: 5px;
    direction: rtl;
}