<div class="section">
    <p class="section-title">Now Playing</p>
    <div id="now-playing-list" class="list horizontal">
    </div>
</div>
<script>
    function Init(){
        LoadNowPlaying();
    }
</script>