<link rel="stylesheet" href="/assets/css/settings.css">
<main>
    <div id="view">
    </div>
</main>
<script>
    let page = "@ViewData["Page"]";
</script>
<script src="/assets/javascript/settings.js"></script>